
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.list-VvY {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .divgnb-eoS {
    flex-shrink: 0;
    width: 100%;
    height: 6rem;
    background-color: #ffffff;

    .divheader-owE {
      box-sizing: border-box;
      padding: 0.8rem 1.5rem 0.8rem 1.6rem;
      width: 100%;
      height: 100%;
      background-color: #ffffff;

      .divsearch-kba {
        display: flex;
        align-items: center;
        background-color: #f4f4f4;
        border-radius: 0.8rem;
        box-sizing: border-box;
        padding: 1rem;
        width: 100%;
        height: 100%;

        .div-7BE {
          height: calc(100% - 0.6rem);
          position: relative;
          letter-spacing: -0.021rem;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          margin: 0.35rem 24.3rem 0.25rem 0rem;
          display: flex;
          line-height: 1.2575;
          font-family: Segoe UI, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1.3945rem;
          font-weight: 700;
          width: 6.3rem;
          overflow: hidden;
          color: #222222;
        }
        .auto-group-bwyg-AvC {
          flex-shrink: 0;
          width: 3.3rem;
          height: 100%;
          position: relative;

          .svg-veU {
            width: 2rem;
            height: 2rem;
            position: absolute;
            left: 1.3rem;
            top: 0.2rem;
            overflow: hidden;
          }
          .svg-s3v {
            height: 2.4rem;
            position: absolute;
            left: 0;
            top: 0;
            overflow: hidden;
            width: 2.4rem;
          }
        }
      }
    }
  }
  .divshopmobile-B4c {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    flex-shrink: 0;
    margin-bottom: 2541.55rem;

    .divmwsearchfilters-7yr {
      width: 100%;
      height: 5.6rem;
      background-color: #ffffff;
      flex-shrink: 0;

      .divsearchfilterbuttons-59z {
        padding: 1.2rem 0rem 1.2rem 1.6rem;
        height: 100%;
        position: relative;
        column-gap: 0.8rem;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        overflow: hidden;
        display: flex;

        .link-nKJ {
          border-radius: 3rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.75rem 2.941rem 0.75rem 1.3rem;
          height: 100%;
          display: flex;
          align-items: center;
          border: solid 0.1rem #ebebeb;

          .svg-vAc {
            position: relative;
            flex-shrink: 0;
            margin: 0.3rem 0.25rem 0rem 0rem;
            width: 1rem;
            height: 1.2rem;
            overflow: hidden;
          }
          .item--eMW {
            font-weight: 400;
            line-height: 1.2575;
            color: rgba(34, 34, 34, 0.8000000119);
            font-family: Segoe UI, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 1.3125rem;
          }
        }
        .divdivider-8nU {
          width: 0.1rem;
          height: 2rem;
          background-color: #ebebeb;
          flex-shrink: 0;
        }
        .divfilterchipbuttons-tWk {
          height: 100%;
          display: flex;
          column-gap: 0.6rem;
          align-items: center;
          flex-shrink: 0;

          .button-2sr {
            align-items: center;
            border: solid 0.1rem #ebebeb;
            border-radius: 3rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.75rem 1.301rem 0.75rem 2.131rem;
            height: 100%;
            display: flex;

            .item--maY {
              margin-right: 1.0095rem;
              display: flex;
              font-weight: 400;
              color: rgba(34, 34, 34, 0.8000000119);
              font-family: Segoe UI, 'Source Sans Pro';
              white-space: nowrap;
              align-items: center;
              justify-content: center;
              font-size: 1.3125rem;
              line-height: 1.2575;
              flex-shrink: 0;
            }
            .svg-Yzc {
              height: calc(100% - 0.7rem);
              overflow: hidden;
              position: relative;
              flex-shrink: 0;
              margin: 0.4rem 0rem 0.3rem 0rem;
              width: 1rem;
            }
          }
          .button-f3e {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.8rem 1.3rem 0.7rem 1.75rem;
            height: 100%;
            display: flex;
            align-items: center;
            border: solid 0.1rem #ebebeb;
            border-radius: 3rem;

            .item--QG8 {
              margin-right: 0.601rem;
              display: flex;
              align-items: center;
              justify-content: center;
              font-family: Segoe UI, 'Source Sans Pro';
              flex-shrink: 0;
              font-size: 1.3234rem;
              font-weight: 400;
              line-height: 1.2575;
              color: rgba(34, 34, 34, 0.8000000119);
              white-space: nowrap;
            }
            .svg-X5r {
              height: calc(100% - 0.7rem);
              overflow: hidden;
              position: relative;
              flex-shrink: 0;
              margin: 0.35rem 0;
              width: 1rem;
            }
          }
          .button-SyW {
            border-radius: 3rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.75rem 1.3rem 0.75rem 1.926rem;
            height: 100%;
            display: flex;
            align-items: center;
            border: solid 0.1rem #ebebeb;

            .item--CBz {
              margin-right: 0.8055rem;
              align-items: center;
              font-size: 1.3125rem;
              font-weight: 400;
              line-height: 1.2575;
              flex-shrink: 0;
              display: flex;
              justify-content: center;
              color: rgba(34, 34, 34, 0.8000000119);
              font-family: Segoe UI, 'Source Sans Pro';
              white-space: nowrap;
            }
            .svg-WyN {
              margin: 0.4rem 0rem 0.3rem 0rem;
              width: 1rem;
              height: calc(100% - 0.7rem);
              overflow: hidden;
              position: relative;
              flex-shrink: 0;
            }
          }
          .button-qEx {
            line-height: 1.2575;
            border: solid 0.1rem #ebebeb;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            color: rgba(34, 34, 34, 0.8000000119);
            font-family: Segoe UI, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            height: 100%;
            font-weight: 400;
            border-radius: 3rem;
            width: 7.431rem;
            align-items: center;
            font-size: 1.3125rem;
          }
        }
      }
    }
    .auto-group-6d6y-VqJ {
      box-sizing: border-box;
      padding: 5.1rem 1.15rem 7.35rem 1.6rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .divshopcounts-E2C {
        width: calc(100% - 0.35rem);
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        margin: 0rem 0.35rem 5.6rem 0rem;

        .item-476-xTz {
          display: flex;
          font-weight: 400;
          line-height: 1.2575;
          color: rgba(34, 34, 34, 0.8000000119);
          font-family: Segoe UI, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 27.574rem;
          font-size: 1.3rem;
        }
        .button-sax {
          margin-top: 0.1rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .item--da8 {
            white-space: nowrap;
            margin-right: 0.726rem;
            display: flex;
            align-items: center;
            line-height: 1.2575;
            font-family: Segoe UI, 'Source Sans Pro';
            justify-content: center;
            font-size: 1.2289rem;
            font-weight: 400;
            color: rgba(34, 34, 34, 0.8000000119);
            flex-shrink: 0;
          }
          .pseudo-margin-Ywz {
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            width: 1.4rem;
            height: 1.2rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
      .auto-group-l3hs-HPn {
        margin-bottom: 5.95rem;
        width: 100%;
        height: 29.35rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .link-bvG {
          width: 17.25rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 1.75rem;

          .divproduct-vxY {
            flex-shrink: 0;
            width: 100%;
            overflow: hidden;
            position: relative;
            background-color: #f4f4f4;
            border-radius: 1rem;

            .a1028d58bfa3142c9928b2866adacc803jpg-5aY {
              width: 17.25rem;
              height: 17.25rem;
              position: relative;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:a425c0f03a06ec812d30e650eca1abd12dfc4eb4');
            }
          }
          .auto-group-t95a-8oi {
            padding: 0.8rem 0.4rem 0rem 0.4rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;

            .divtitle-foe {
              flex-shrink: 0;
              margin-bottom: 1.6rem;
              width: 100%;
              display: flex;
              flex-direction: column;

              .nike-2PJ {
                flex-shrink: 0;
                font-weight: 700;
                letter-spacing: -0.007rem;
                font-family: Segoe UI, 'Source Sans Pro';
                line-height: 1.2808005003;
                color: #333333;
                white-space: nowrap;
                margin-bottom: 0.2rem;
                display: flex;
                font-size: 1.2492rem;
              }
              .divproductinfoproductname-KtC {
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .pname-Um6 {
                  margin-bottom: 0.2rem;
                  width: 14.9rem;
                  height: 3.2rem;
                  overflow: hidden;
                  position: relative;
                  flex-shrink: 0;

                  .nike-windrunner-canvas-ja-cket-smoke-grey-asia-2Gp {
                    font-weight: 400;
                    line-height: 1.2307692308;
                    color: #222222;
                    font-family: Segoe UI, 'Source Sans Pro';
                    max-width: 14.9rem;
                    display: flex;
                    font-size: 1.3rem;
                  }
                }
                .ptranslatedname-wPn {
                  overflow: hidden;
                  font-family: Segoe UI, 'Source Sans Pro';
                  align-items: center;
                  flex-shrink: 0;
                  height: 1.3rem;
                  position: relative;
                  font-weight: 400;
                  justify-content: center;
                  width: 11.6rem;
                  font-size: 1.0313rem;
                  color: rgba(34, 34, 34, 0.5);
                  white-space: nowrap;
                  display: flex;
                  line-height: 1.2606060606;
                }
              }
            }
            .divprice-ENt {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .item-87000-zN4 {
                font-size: 1.4rem;
                line-height: 1.2142857143;
                color: #222222;
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.2rem;
                display: flex;
                font-weight: 700;
                font-family: Segoe UI, 'Source Sans Pro';
              }
              .item--JNk {
                font-weight: 400;
                line-height: 1.2606060606;
                color: rgba(34, 34, 34, 0.5);
                font-family: Segoe UI, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 1.0313rem;
              }
            }
          }
        }
        .link-p6C {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 17.25rem;
          height: 100%;

          .divproduct-N7i {
            position: relative;
            background-color: #f4f4f4;
            border-radius: 1rem;
            flex-shrink: 0;
            width: 100%;
            overflow: hidden;

            .a1028d58bfa3142c9928b2866adacc803jpg-vf2 {
              position: relative;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:a425c0f03a06ec812d30e650eca1abd12dfc4eb4');
              width: 17.25rem;
              height: 17.25rem;
            }
          }
          .auto-group-3c7a-cnk {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.8rem 0.4rem 0rem 0.4rem;
            width: 100%;

            .divtitle-xLp {
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-bottom: 1.6rem;

              .nike-iKz {
                margin-bottom: 0.2rem;
                display: flex;
                font-size: 1.2492rem;
                line-height: 1.2808005003;
                font-family: Segoe UI, 'Source Sans Pro';
                white-space: nowrap;
                font-weight: 700;
                letter-spacing: -0.007rem;
                color: #333333;
                flex-shrink: 0;
              }
              .divproductinfoproductname-2Lg {
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .pname-y12 {
                  margin-bottom: 0.2rem;
                  width: 14.9rem;
                  height: 3.2rem;
                  overflow: hidden;
                  position: relative;
                  flex-shrink: 0;

                  .nike-windrunner-canvas-ja-cket-smoke-grey-asia-ufN {
                    font-family: Segoe UI, 'Source Sans Pro';
                    max-width: 14.9rem;
                    display: flex;
                    font-size: 1.3rem;
                    font-weight: 400;
                    line-height: 1.2307692308;
                    color: #222222;
                  }
                }
                .ptranslatedname-dLU {
                  font-size: 1.0313rem;
                  font-weight: 400;
                  height: 1.3rem;
                  position: relative;
                  line-height: 1.2606060606;
                  color: rgba(34, 34, 34, 0.5);
                  white-space: nowrap;
                  overflow: hidden;
                  align-items: center;
                  display: flex;
                  font-family: Segoe UI, 'Source Sans Pro';
                  justify-content: center;
                  flex-shrink: 0;
                  width: 11.6rem;
                }
              }
            }
            .divprice-7WY {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .item-87000-HA8 {
                color: #222222;
                font-family: Segoe UI, 'Source Sans Pro';
                white-space: nowrap;
                font-weight: 700;
                line-height: 1.2142857143;
                flex-shrink: 0;
                margin-bottom: 0.2rem;
                display: flex;
                font-size: 1.4rem;
              }
              .item--oeG {
                flex-shrink: 0;
                display: flex;
                font-size: 1.0313rem;
                font-weight: 400;
                line-height: 1.2606060606;
                color: rgba(34, 34, 34, 0.5);
                font-family: Segoe UI, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
        }
      }
      .auto-group-pkaq-X4U {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        height: 29.35rem;

        .link-GXr {
          width: 17.25rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 1.75rem;

          .divproduct-Dhz {
            width: 100%;
            overflow: hidden;
            position: relative;
            background-color: #f4f4f4;
            border-radius: 1rem;
            flex-shrink: 0;

            .a1028d58bfa3142c9928b2866adacc803jpg-PcU {
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:a425c0f03a06ec812d30e650eca1abd12dfc4eb4');
              width: 17.25rem;
              height: 17.25rem;
              position: relative;
            }
          }
          .auto-group-irds-tZE {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.8rem 0.4rem 0rem 0.4rem;

            .divtitle-Rp4 {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-bottom: 1.6rem;
              width: 100%;

              .nike-BHS {
                font-family: Segoe UI, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 0.2rem;
                display: flex;
                font-size: 1.2492rem;
                font-weight: 700;
                line-height: 1.2808005003;
                letter-spacing: -0.007rem;
                color: #333333;
                flex-shrink: 0;
              }
              .divproductinfoproductname-hFn {
                flex-shrink: 0;
                width: 100%;
                display: flex;
                flex-direction: column;

                .pname-FYC {
                  overflow: hidden;
                  position: relative;
                  flex-shrink: 0;
                  margin-bottom: 0.2rem;
                  width: 14.9rem;
                  height: 3.2rem;

                  .nike-windrunner-canvas-ja-cket-smoke-grey-asia-zVn {
                    display: flex;
                    font-size: 1.3rem;
                    font-weight: 400;
                    line-height: 1.2307692308;
                    color: #222222;
                    font-family: Segoe UI, 'Source Sans Pro';
                    max-width: 14.9rem;
                  }
                }
                .ptranslatedname-iRn {
                  white-space: nowrap;
                  justify-content: center;
                  height: 1.3rem;
                  font-family: Segoe UI, 'Source Sans Pro';
                  line-height: 1.2606060606;
                  flex-shrink: 0;
                  font-size: 1.0313rem;
                  width: 11.6rem;
                  position: relative;
                  font-weight: 400;
                  color: rgba(34, 34, 34, 0.5);
                  align-items: center;
                  overflow: hidden;
                  display: flex;
                }
              }
            }
            .divprice-R5J {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .item-87000-B4U {
                font-size: 1.4rem;
                line-height: 1.2142857143;
                color: #222222;
                font-family: Segoe UI, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.2rem;
                display: flex;
                font-weight: 700;
              }
              .item--6hE {
                line-height: 1.2606060606;
                color: rgba(34, 34, 34, 0.5);
                font-family: Segoe UI, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 1.0313rem;
                font-weight: 400;
              }
            }
          }
        }
        .link-DG4 {
          width: 17.25rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .divproduct-NPr {
            background-color: #f4f4f4;
            border-radius: 1rem;
            flex-shrink: 0;
            width: 100%;
            overflow: hidden;
            position: relative;

            .a1028d58bfa3142c9928b2866adacc803jpg-Lba {
              background-image: url('REPLACE_IMAGE:a425c0f03a06ec812d30e650eca1abd12dfc4eb4');
              width: 17.25rem;
              height: 17.25rem;
              position: relative;
              background-size: 100% 100%;
            }
          }
          .auto-group-26yn-Egx {
            box-sizing: border-box;
            padding: 0.8rem 0.4rem 0rem 0.4rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .divtitle-NoA {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-bottom: 1.6rem;
              width: 100%;

              .nike-LV6 {
                display: flex;
                font-weight: 700;
                letter-spacing: -0.007rem;
                font-family: Segoe UI, 'Source Sans Pro';
                margin-bottom: 0.2rem;
                font-size: 1.2492rem;
                line-height: 1.2808005003;
                color: #333333;
                white-space: nowrap;
                flex-shrink: 0;
              }
              .divproductinfoproductname-fnG {
                flex-direction: column;
                flex-shrink: 0;
                width: 100%;
                display: flex;

                .pname-E4g {
                  margin-bottom: 0.2rem;
                  width: 14.9rem;
                  height: 3.2rem;
                  overflow: hidden;
                  position: relative;
                  flex-shrink: 0;

                  .nike-windrunner-canvas-ja-cket-smoke-grey-asia-yHA {
                    line-height: 1.2307692308;
                    color: #222222;
                    font-family: Segoe UI, 'Source Sans Pro';
                    max-width: 14.9rem;
                    display: flex;
                    font-size: 1.3rem;
                    font-weight: 400;
                  }
                }
                .ptranslatedname-VWQ {
                  overflow: hidden;
                  font-weight: 400;
                  color: rgba(34, 34, 34, 0.5);
                  justify-content: center;
                  height: 1.3rem;
                  display: flex;
                  font-size: 1.0313rem;
                  font-family: Segoe UI, 'Source Sans Pro';
                  white-space: nowrap;
                  align-items: center;
                  position: relative;
                  line-height: 1.2606060606;
                  width: 11.6rem;
                  flex-shrink: 0;
                }
              }
            }
            .divprice-Bu2 {
              flex-direction: column;
              flex-shrink: 0;
              display: flex;

              .item-87000-MYc {
                margin-bottom: 0.2rem;
                font-size: 1.4rem;
                flex-shrink: 0;
                font-family: Segoe UI, 'Source Sans Pro';
                white-space: nowrap;
                display: flex;
                font-weight: 700;
                line-height: 1.2142857143;
                color: #222222;
              }
              .item--gat {
                display: flex;
                font-size: 1.0313rem;
                font-weight: 400;
                line-height: 1.2606060606;
                color: rgba(34, 34, 34, 0.5);
                font-family: Segoe UI, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
        }
      }
    }
  }
  .divfooter-zLg {
    padding: 4rem 1.6rem 3.9rem 1.6rem;
    width: 100%;
    height: 74rem;
    border: solid 0.1rem #ebebeb;
    flex-shrink: 0;
    box-sizing: border-box;

    .divinner-XbW {
      width: 100%;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;

      .divservicearea-gzC {
        width: 100%;
        display: flex;
        flex-direction: column;
        border: solid 0.1rem #ebebeb;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-bottom: 5.2rem;

        .divcustomerservice-F1i {
          width: 19.9rem;
          flex-shrink: 0;
          margin-bottom: 5.15rem;

          .strong-nnL {
            display: flex;
            align-items: center;
            margin: 0rem 6.731rem 0.7rem 0rem;
            width: calc(100% - 6.731rem);

            .item--vde {
              line-height: 1.2575;
              color: #222222;
              white-space: nowrap;
              font-size: 1.5rem;
              display: flex;
              font-weight: 700;
              letter-spacing: -0.016rem;
              font-family: Segoe UI, 'Source Sans Pro';
              flex-shrink: 0;
              margin: 0.1rem 2.269rem 0rem 0rem;
            }
            .link-1588-7813-RaQ {
              font-family: Segoe UI, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.2575;
              color: #222222;
            }
          }
          .item-11-00-18-00-13-00-14-00-kcg {
            max-width: 19.9rem;
            display: flex;
            font-size: 1.2594rem;
            font-weight: 400;
            line-height: 1.58808933;
            letter-spacing: -0.007rem;
            color: rgba(34, 34, 34, 0.5);
            font-family: Segoe UI, 'Source Sans Pro';
          }
          .auto-group-byjn-mng {
            box-sizing: border-box;
            padding-top: 0.8rem;
            width: 100%;
            display: flex;
            flex-direction: column;

            .item-1-1--KJQ {
              font-family: Segoe UI, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-weight: 400;
              line-height: 1.2575;
              letter-spacing: -0.007rem;
              color: #222222;
              margin-bottom: 1.6rem;
              display: flex;
              font-size: 1.2086rem;
            }
            .link-nxg {
              white-space: nowrap;
              width: 9.5rem;
              justify-content: center;
              letter-spacing: -0.006rem;
              line-height: 1.2575;
              color: #fafafa;
              flex-shrink: 0;
              display: flex;
              font-size: 1.1063rem;
              font-weight: 700;
              height: 3.4rem;
              align-items: center;
              background-color: #222222;
              font-family: Segoe UI, 'Source Sans Pro';
            }
          }
        }
        .divfootermenu-tF2 {
          align-items: center;
          flex-shrink: 0;
          margin-right: 11.1rem;
          width: calc(100% - 11.1rem);
          height: 14.45rem;
          display: flex;

          .divmenubox-2ME {
            margin-right: 11.6rem;
            width: 7.3rem;
            height: 100%;
            flex-shrink: 0;

            .strong--Zrx {
              margin-bottom: 1.65rem;
              color: #222222;
              white-space: nowrap;
              display: flex;
              font-size: 1.4063rem;
              font-weight: 700;
              line-height: 1.2575;
              letter-spacing: -0.015rem;
              font-family: Segoe UI, 'Source Sans Pro';
            }
            .list-Uyv {
              flex-direction: column;
              width: 100%;
              align-items: center;
              display: flex;

              .auto-group-qknk-Sfr {
                box-sizing: border-box;
                padding-bottom: 1.4rem;
                width: 100%;
                row-gap: 1.4rem;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .link--my2 {
                  font-size: 1.3125rem;
                  line-height: 1.2575;
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  letter-spacing: -0.021rem;
                  color: rgba(34, 34, 34, 0.5);
                  font-family: Segoe UI, 'Source Sans Pro';
                  font-weight: 400;
                }
                .link--tXr {
                  flex-shrink: 0;
                  font-size: 1.3125rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  letter-spacing: -0.021rem;
                  color: rgba(34, 34, 34, 0.5);
                  font-family: Segoe UI, 'Source Sans Pro';
                  white-space: nowrap;
                  display: flex;
                }
                .link--bSG {
                  display: flex;
                  font-size: 1.3125rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  font-family: Segoe UI, 'Source Sans Pro';
                  white-space: nowrap;
                  letter-spacing: -0.021rem;
                  color: rgba(34, 34, 34, 0.5);
                  flex-shrink: 0;
                }
              }
              .link--JrU {
                font-size: 1.3125rem;
                line-height: 1.2575;
                letter-spacing: -0.021rem;
                white-space: nowrap;
                display: flex;
                font-weight: 400;
                color: rgba(34, 34, 34, 0.5);
                font-family: Segoe UI, 'Source Sans Pro';
                flex-shrink: 0;
              }
            }
          }
          .divmenubox-DTe {
            width: 5.8rem;
            height: 100%;
            flex-shrink: 0;

            .strong--xw2 {
              letter-spacing: -0.015rem;
              color: #222222;
              font-family: Segoe UI, 'Source Sans Pro';
              white-space: nowrap;
              font-size: 1.4063rem;
              font-weight: 700;
              line-height: 1.2575;
              margin-bottom: 1.65rem;
              display: flex;
            }
            .list-UeU {
              width: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;

              .auto-group-zk1n-eJ4 {
                row-gap: 1.4rem;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                box-sizing: border-box;
                padding-bottom: 1.4rem;
                width: 100%;

                .link--nQG {
                  font-size: 1.3125rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  letter-spacing: -0.021rem;
                  flex-shrink: 0;
                  display: flex;
                  color: rgba(34, 34, 34, 0.5);
                  font-family: Segoe UI, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .link--WLG {
                  color: rgba(34, 34, 34, 0.5);
                  font-family: Segoe UI, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.3125rem;
                  line-height: 1.2575;
                  letter-spacing: -0.021rem;
                  display: flex;
                  font-weight: 400;
                }
                .link--2ZW {
                  font-weight: 400;
                  line-height: 1.2575;
                  letter-spacing: -0.021rem;
                  color: rgba(34, 34, 34, 0.5);
                  font-family: Segoe UI, 'Source Sans Pro';
                  white-space: nowrap;
                  display: flex;
                  font-size: 1.3125rem;
                  flex-shrink: 0;
                }
              }
              .link--wgU {
                font-size: 1.3125rem;
                font-weight: 400;
                letter-spacing: -0.021rem;
                font-family: Segoe UI, 'Source Sans Pro';
                display: flex;
                line-height: 1.2575;
                color: rgba(34, 34, 34, 0.5);
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
        }
      }
      .auto-group-zbqc-e56 {
        box-sizing: border-box;
        padding-top: 3.1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .divcorporationarea-zPr {
          margin: 0rem 0.011rem 2rem 0rem;
          width: calc(100% - 0.0115rem);
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .list-XPn {
            margin-bottom: 5rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .item--5AQ {
              font-size: 1.3125rem;
              font-weight: 400;
              line-height: 1.2575;
              letter-spacing: -0.021rem;
              color: #000000;
              white-space: nowrap;
              margin-right: 2.856rem;
              display: flex;
              flex-shrink: 0;
              font-family: Segoe UI, 'Source Sans Pro';
            }
            .item--nqW {
              font-size: 1.3125rem;
              line-height: 1.2575;
              letter-spacing: -0.021rem;
              color: #000000;
              font-family: Segoe UI, 'Source Sans Pro';
              margin-right: 2.856rem;
              font-weight: 400;
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
            }
            .item--hSg {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 2.856rem;
              display: flex;
              font-size: 1.3125rem;
              line-height: 1.2575;
              font-weight: 400;
              letter-spacing: -0.021rem;
              color: #000000;
              font-family: Segoe UI, 'Source Sans Pro';
            }
            .item--cJk {
              font-size: 1.3125rem;
              font-weight: 700;
              line-height: 1.2575;
              letter-spacing: -0.021rem;
              flex-shrink: 0;
              display: flex;
              color: #000000;
              font-family: Segoe UI, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .divfootersns-KU4 {
            width: 100%;
            height: 2.4rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .divsnsbox-ULx {
              margin-right: 17.947rem;
              height: 100%;
              display: flex;
              column-gap: 2rem;
              align-items: center;
              flex-shrink: 0;

              .link-svg-1rg {
                position: relative;
                flex-shrink: 0;
                width: 2.4rem;
                height: 100%;
                overflow: hidden;
              }
              .link-svg-ADn {
                width: 2.4rem;
                height: 100%;
                overflow: hidden;
                position: relative;
                flex-shrink: 0;
              }
              .link-svg-7Pv {
                height: 100%;
                overflow: hidden;
                position: relative;
                flex-shrink: 0;
                width: 2.4rem;
              }
            }
            .button-rsJ {
              margin: 0.3rem 0rem 0.4rem 0rem;
              height: calc(100% - 0.7rem);
              display: flex;
              align-items: flex-end;
              flex-shrink: 0;

              .item--CRN {
                align-items: center;
                font-size: 1.2898rem;
                font-weight: 400;
                line-height: 1.2575;
                color: #222222;
                font-family: Segoe UI, 'Source Sans Pro';
                white-space: nowrap;
                margin-right: 0.8415rem;
                display: flex;
                justify-content: center;
                letter-spacing: -0.007rem;
                flex-shrink: 0;
              }
              .svg-7YL {
                width: 1.6rem;
                height: 1.6rem;
                overflow: hidden;
                position: relative;
                flex-shrink: 0;
              }
            }
          }
        }
        .divnoticearea-Ts6 {
          width: 24.7rem;
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .item--RJ8 {
            margin-bottom: 4.9rem;
            display: flex;
            line-height: 1.4222222222;
            letter-spacing: -0.006rem;
            max-width: 24.7rem;
            font-size: 1.125rem;
            font-weight: 400;
            color: rgba(34, 34, 34, 0.400000006);
            font-family: Segoe UI, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .kream-corp-ZSG {
            justify-content: center;
            font-size: 1.2rem;
            font-weight: 400;
            color: rgba(34, 34, 34, 0.3000000119);
            font-family: Segoe UI, 'Source Sans Pro';
            white-space: nowrap;
            width: 100%;
            align-items: center;
            flex-shrink: 0;
            display: flex;
            line-height: 1.2575;
          }
        }
      }
    }
  }
}
