<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/api/product/setting" method="post" enctype="multipart/form-data">
    <input type="text" id="productName" name="productName" value="">
    <input type="text" id="productContent" name="productContent" value="">
    <input type="file" id="productImg" name="file">
    <button type="submit">입력</button>

</form>
</body>
</html>