
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.categoty-hMr {
  box-sizing: border-box;
  padding: 1.2rem 0rem 25.45rem 0rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.categoty-hMr .auto-group-bo5a-by2 {
  margin: 0rem 3.3rem 1.05rem 1rem;
  width: calc(100% - 4.3rem);
  height: 4.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.categoty-hMr .auto-group-bo5a-by2 .divsearch-Wq6 {
  margin-right: 2.1rem;
  box-sizing: border-box;
  padding: 1.2rem 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.categoty-hMr .auto-group-bo5a-by2 .divsearch-Wq6 .div-xSC {
  margin: 0.15rem 19.9rem 0.05rem 0rem;
  width: 6.3rem;
  height: calc(100% - 0.2rem);
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.3945rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: -0.021rem;
  color: #222222;
  font-family: Segoe UI, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.categoty-hMr .auto-group-bo5a-by2 .divsearch-Wq6 .svg-LSk {
  width: 2rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.categoty-hMr .auto-group-bo5a-by2 .item--GLQ {
  margin-top: 0.1rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: -0.021rem;
  color: #000000;
  font-family: Segoe UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categoty-hMr .line-2-xU8 {
  margin-bottom: 3.55rem;
  width: 39rem;
  height: 0.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categoty-hMr .item--tcg {
  margin-bottom: 1.3rem;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categoty-hMr .auto-group-5hm2-Brg {
  margin: 0rem 0rem 1.2rem 3.8rem;
  width: 44.3rem;
  height: 4.4rem;
  position: relative;
  flex-shrink: 0;
}
.categoty-hMr .auto-group-5hm2-Brg .divsearch-WPA {
  box-sizing: border-box;
  padding: 1.35rem 15.4rem 1rem 1rem;
  width: 28.6rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 1.4rem;
}
.categoty-hMr .auto-group-5hm2-Brg .divsearch-WPA .div-QzL {
  margin: 0rem 3.9rem 0.25rem 0rem;
  width: 6.3rem;
  height: 1.8rem;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.3945rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: -0.021rem;
  color: #222222;
  font-family: Segoe UI, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.categoty-hMr .auto-group-5hm2-Brg .divsearch-WPA .svg-tuW {
  margin-top: 0.05rem;
  box-sizing: border-box;
  padding: 0rem 0.5rem 0rem 0.7rem;
  height: calc(100% - 0.05rem);
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.3945rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: -0.021rem;
  color: #000000;
  font-family: Segoe UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categoty-hMr .auto-group-5hm2-Brg .divsearch-MHJ {
  box-sizing: border-box;
  padding: 1.35rem 15.4rem 1rem 1rem;
  width: 28.6rem;
  height: 4.4rem;
  position: absolute;
  left: 15.7rem;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 1.4rem;
}
.categoty-hMr .auto-group-5hm2-Brg .divsearch-MHJ .div-SZe {
  margin: 0rem 3.9rem 0.25rem 0rem;
  width: 6.3rem;
  height: 1.8rem;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.3945rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: -0.021rem;
  color: #222222;
  font-family: Segoe UI, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.categoty-hMr .auto-group-5hm2-Brg .divsearch-MHJ .svg-7fn {
  margin-top: 0.05rem;
  box-sizing: border-box;
  padding: 0rem 0.5rem 0rem 0.7rem;
  height: calc(100% - 0.05rem);
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.3945rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: -0.021rem;
  color: #000000;
  font-family: Segoe UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categoty-hMr .auto-group-tkpi-yhz {
  margin: 0rem 0rem 4.2rem 3.8rem;
  width: 44.3rem;
  height: 4.4rem;
  position: relative;
  flex-shrink: 0;
}
.categoty-hMr .auto-group-tkpi-yhz .divsearch-htt {
  box-sizing: border-box;
  padding: 1.35rem 15.4rem 1rem 1rem;
  width: 28.6rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 1.4rem;
}
.categoty-hMr .auto-group-tkpi-yhz .divsearch-htt .div-2RN {
  margin: 0rem 3.9rem 0.25rem 0rem;
  width: 6.3rem;
  height: 1.8rem;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.3945rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: -0.021rem;
  color: #222222;
  font-family: Segoe UI, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.categoty-hMr .auto-group-tkpi-yhz .divsearch-htt .svg-J7z {
  margin-top: 0.05rem;
  box-sizing: border-box;
  padding: 0rem 0.5rem 0rem 0.7rem;
  height: calc(100% - 0.05rem);
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.3945rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: -0.021rem;
  color: #000000;
  font-family: Segoe UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categoty-hMr .auto-group-tkpi-yhz .divsearch-NNk {
  box-sizing: border-box;
  padding: 1.35rem 15.4rem 1rem 1rem;
  width: 28.6rem;
  height: 4.4rem;
  position: absolute;
  left: 15.7rem;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 1.4rem;
}
.categoty-hMr .auto-group-tkpi-yhz .divsearch-NNk .div-geL {
  margin: 0rem 3.9rem 0.25rem 0rem;
  width: 6.3rem;
  height: 1.8rem;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.3945rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: -0.021rem;
  color: #222222;
  font-family: Segoe UI, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.categoty-hMr .auto-group-tkpi-yhz .divsearch-NNk .svg-NXA {
  margin-top: 0.05rem;
  box-sizing: border-box;
  padding: 0rem 0.5rem 0rem 0.7rem;
  height: calc(100% - 0.05rem);
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.3945rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: -0.021rem;
  color: #000000;
  font-family: Segoe UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categoty-hMr .item--37W {
  margin-bottom: 1.7rem;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categoty-hMr .auto-group-woct-jm2 {
  margin: 0rem 0rem 0.5rem 3.8rem;
  width: 47.7rem;
  height: 5.1rem;
  position: relative;
  flex-shrink: 0;
}
.categoty-hMr .auto-group-woct-jm2 .divsearch-GW4 {
  box-sizing: border-box;
  padding: 1.35rem 1rem 1.25rem 1rem;
  width: 28.6rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f4f4f4;
  border-radius: 1.4rem;
}
.categoty-hMr .auto-group-woct-jm2 .divsearch-GW4 .div-zS4 {
  margin-right: 20.3rem;
  width: 6.3rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.3945rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: -0.021rem;
  color: #222222;
  font-family: Segoe UI, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
.categoty-hMr .auto-group-woct-jm2 .divsearch-4gp {
  box-sizing: border-box;
  padding: 1.35rem 1rem 1.25rem 1rem;
  width: 28.6rem;
  height: 4.4rem;
  position: absolute;
  left: 12.2rem;
  top: 0;
  background-color: #f4f4f4;
  border-radius: 1.4rem;
}
.categoty-hMr .auto-group-woct-jm2 .divsearch-4gp .div-ncp {
  margin-right: 20.3rem;
  width: 6.3rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.3945rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: -0.021rem;
  color: #222222;
  font-family: Segoe UI, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
.categoty-hMr .auto-group-woct-jm2 .divsearch-seG {
  box-sizing: border-box;
  padding: 2.3rem 1rem 1rem 1rem;
  width: 23.2rem;
  height: 5.1rem;
  position: absolute;
  left: 24.5rem;
  top: 0;
  background-color: #f4f4f4;
  border-radius: 1.4rem;
}
.categoty-hMr .auto-group-woct-jm2 .divsearch-seG .div-PsW {
  margin-right: 18.7rem;
  width: 2.5rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.3945rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: -0.021rem;
  color: #222222;
  font-family: Segoe UI, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
.categoty-hMr .auto-group-mggg-t3a {
  margin: 0rem 0rem 4.5rem 3.8rem;
  width: 40.8rem;
  height: 4.4rem;
  position: relative;
  flex-shrink: 0;
}
.categoty-hMr .auto-group-mggg-t3a .divsearch-1dz {
  box-sizing: border-box;
  padding: 1.35rem 1rem 1.25rem 1rem;
  width: 28.6rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f4f4f4;
  border-radius: 1.4rem;
}
.categoty-hMr .auto-group-mggg-t3a .divsearch-1dz .div-k5n {
  margin-right: 20.3rem;
  width: 6.3rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.3945rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: -0.021rem;
  color: #222222;
  font-family: Segoe UI, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
.categoty-hMr .auto-group-mggg-t3a .divsearch-1XW {
  box-sizing: border-box;
  padding: 1.35rem 1rem 1.25rem 1rem;
  width: 28.6rem;
  height: 4.4rem;
  position: absolute;
  left: 12.2rem;
  top: 0;
  background-color: #f4f4f4;
  border-radius: 1.4rem;
}
.categoty-hMr .auto-group-mggg-t3a .divsearch-1XW .div-LZn {
  margin-right: 20.3rem;
  width: 6.3rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.3945rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: -0.021rem;
  color: #222222;
  font-family: Segoe UI, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
.categoty-hMr .item--pzk {
  margin-bottom: 7.35rem;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categoty-hMr .auto-group-zzsu-XPN {
  margin: 0rem 14.7rem 0rem 4.4rem;
  width: calc(100% - 19.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.categoty-hMr .auto-group-zzsu-XPN .item-1--3sW {
  margin-right: 14.1rem;
  max-width: 3.3rem;
  display: flex;
  font-size: 1.3945rem;
  font-weight: 600;
  line-height: 1.2575;
  letter-spacing: -0.021rem;
  color: #000000;
  font-family: Segoe UI, 'Source Sans Pro';
  flex-shrink: 0;
}
.categoty-hMr .auto-group-zzsu-XPN .item--esJ {
  max-width: 2.5rem;
  display: flex;
  font-size: 1.3945rem;
  font-weight: 600;
  line-height: 1.2575;
  letter-spacing: -0.021rem;
  color: #000000;
  font-family: Segoe UI, 'Source Sans Pro';
  flex-shrink: 0;
}
